<div ng-include="'pages/common/navbar.html'"></div>
<div id="services" class="services-area area-padding">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="section-headline services-head text-center">
                    <br>
                <h2>SHAZAM</h2>
              </div>
        </div>
        <div class="col-md-12">
                <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="/#home"aria-expanded="false" target="_self">Home</a></li>
                        <li><a data-toggle="tab" href="/#about" aria-expanded="false"target="_self">About</a></li>
                        <li><a data-toggle="tab" href="/#problems" aria-expanded="false"target="_self">Problem Statements</a></li>
                        <li><a data-toggle="tab" href="/#register1"aria-expanded="false"target="_self">Register (Individual)</a></li>
                        <li><a data-toggle="tab" href="/#register2"aria-expanded="false"target="_self">Register (Team)</a></li>
                        <li><a data-toggle="tab" href="/#con"aria-expanded="false"target="_self">Contact</a></li>
                      </ul>
                      
                      <div class="tab-content">
                            <div id="con" class="tab-pane fade">
                                    <ul class="inf">
                                            <li>
                                                Email: <b>codestacks97@gmail.com</b>
                                            </li>
                                            <li>
                                                Mob: <b>7985247307</b>
                                            </li>
                                            <li>
                        <div class="fb-page" data-href="https://www.facebook.com/codestacks.online/" data-tabs="timeline" data-width="500" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/codestacks.online/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/codestacks.online/">Codestacks</a></blockquote></div>
                                                
                                            </li>
                                    </ul>
                            </div>
                            <div id="home" class="tab-pane fade in active">
                                <div class="col-md-6">
                                    <img src="img/SHAZAM.jpg">
                                </div>
                                <div class="col-md-6">
                                    <br>
                            Shazam is an online hackathon organized by the tech leading company Codestacks.
                            The aim of this competition is to inculcate good development etiquette among young developers of India. We believe setting your hands on projects help you achieve better programming skills and also help you with your career.  
                            
                            <b>You are free to use any technology and language for development of projects</b>
                        <br>
                        <br>
                        <br>
                        <div class="fb-page" data-href="https://www.facebook.com/codestacks.online/" data-tabs="timeline" data-width="500" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/codestacks.online/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/codestacks.online/">Codestacks</a></blockquote></div>
                        </div>
                    </div>
                        <div id="about" class="tab-pane fade">
                                <div class="col-md-6">
                                        <img src="img/SHAZAM.jpg">
                                    </div>
                                    <div class="col-md-6">
                                            
                                       
                            <ul class="inf">
                                <li>
                                        Shazam would be a <b>4-day</b> event, Registrations will <b>start from 16 September 2018, Sunday 6:00 am and Closes on 19 September, Wednesday 10:00 pm.</b>
                                </li>
                                <li>
                                        Candidates have to submit their projects latest by  <b>23 September, Sunday 10:00 pm.</b> No Projects will be accepted after that.
                                </li>
                                <li>
                                        Candidates could participate in teams or as an individual. There should be minimum <b>2 candidates in a team and maximum 5.</b>
                                </li>
                                <li>
                                        The Registration fee for this event is <b>Rs. 50 per person if participated in Team</b>, otherwise <b>Rs. 70 as an individual.</b>
                                </li>
                                <li>
                                    <b>Cash prize would be awarded to top 3 teams.</b> Prize amount would be disclosed shortly.
                                </li>
                                <li>
                                    Any kind of plagiarism or any kind of mismatch in the details provided would lead to <b>straight disqualification.</b>
                                </li>
                            </ul>
                        </div>
                                 </div>
                        <div id="register1" class="tab-pane fade">
                            <div class="col-md-6">
                                <img src="img/shazam_70.jpeg">
                            </div>
                            <div class="col-md-6">
                                <form name="ctrl.individual" ng-submit="reg_ind(ctrl.individual)">
                                <input class="form-control" ng-pattern="/^[a-zA-Z\s]*$/" name="fullname" ng-model="ctrl.fullname" placeholder="Full Name" required>
                                <br>
                                <input class="form-control" type="email" name="email" ng-model="ctrl.email" placeholder="Email"required>
                                <br>
                                <input class="form-control" type="text" name="address" ng-model="ctrl.address" placeholder="Address"required>
                                <br>
                                <input class="form-control" type="text" name="contact" ng-model="ctrl.contact" ng-pattern="/^[0-9]*$/" placeholder="Contact Number" maxlength="10" required>
                                <br>
                                <input class="form-control" type="text" name="org" ng-model="ctrl.org" placeholder="College/Organisation name"required>
                                <br>
                                <input class="form-control" type="text" name="txn" ng-model="ctrl.txn" ng-pattern="/^[0-9]*$/" placeholder="Paytm transaction ID"required>
                                <br>
                                <button type="sumbit" class="btn btn-primary btn-block">Register</button>
                                </form>
                            </div>
                        </div>
                        <div id="problems" class="tab-pane fade">
                           
                            <div class="col-md-6">
                                <ul class="inf">
                                    <li>
                                        Problem statements will be disclosed after the registration ends.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="register2" class="tab-pane fade">
                                <div class="col-md-6">
                                        <img src="img/shazam.jpeg">
                                    </div>
                                <div class="col-md-6">
                                    <form name="ctrl.team" ng-submit="reg_team(ctrl.team)">
                                    <input class="form-control" ng-pattern="/^[a-zA-Z\s]*$/" name="teamname" ng-model="ctrl.teamname" placeholder="Team Name" required>
                                    <br>
                                    <input class="form-control" ng-pattern="/^[a-zA-Z\s]*$/" name="fullname1" ng-model="ctrl.fullname1" placeholder="Full Name (Team Leader)" required>
                                    <br>
                                    <input class="form-control" type="email" name="email1" ng-model="ctrl.email1" placeholder="Email (Team Leader)"required>
                                    <br>
                                    <input class="form-control" ng-pattern="/^[a-zA-Z\s]*$/" name="fullname2" ng-model="ctrl.fullname2" placeholder="Full Name (Member 2)" required>
                                    <br>
                                    <input class="form-control" type="email" name="email2" ng-model="ctrl.email2" placeholder="Email (Member 2)"required>
                                    <br>
                                    <input class="form-control" ng-pattern="/^[a-zA-Z\s]*$/" name="fullname3" ng-model="ctrl.fullname3" placeholder="Full Name (Member 3)">
                                    <br>
                                    <input class="form-control" type="email" name="email3" ng-model="ctrl.email3" placeholder="Email (Member 3)">
                                    <br>
                                    <input class="form-control" ng-pattern="/^[a-zA-Z\s]*$/" name="fullname4" ng-model="ctrl.fullname4" placeholder="Full Name (Member 4)">
                                    <br>
                                    <input class="form-control" type="email" name="email4" ng-model="ctrl.email4" placeholder="Email (Member 4)">
                                    <br>
                                    <input class="form-control" ng-pattern="/^[a-zA-Z\s]*$/" name="fullname5" ng-model="ctrl.fullname5" placeholder="Full Name (Member 5)">
                                    <br>
                                    <input class="form-control" type="email" name="email5" ng-model="ctrl.email5" placeholder="Email (Member 5)">
                                    <br>
                                    <input class="form-control" type="text" name="contact" ng-model="ctrl.contact" ng-pattern="/^[0-9]*$/" placeholder="Contact Number (Team Leader)" maxlength="10" required>
                                    <br>
                                    <input class="form-control" type="text" name="org" ng-model="ctrl.org" placeholder="College/Organisation name"required>
                                    <br>
                                    <input class="form-control" type="text" name="txn" ng-model="ctrl.txn" ng-pattern="/^[0-9]*$/" placeholder="Paytm transaction ID"required>
                                    <br>
                                    <button type="sumbit" class="btn btn-primary btn-block">Register</button>
                                    </form>
                                </div>
                            </div>
                      </div>
        </div>
    </div>
</div>
</div>