 <!-- Start About area -->
 <div id="about" class="about-area area-padding">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="section-headline text-center">
                <h2>About CODESTACKS</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- single-well start-->
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="well-left">
                <div class="single-well">
                    <br>
                    <br>
                  <a href="#">
                                      <img src="img/logo.png" alt="">
                                    </a>
                </div>
              </div>
            </div>
            <!-- single-well end-->
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="well-middle">
                <div class="single-well">
                  <a href="#">
                    <h4 class="sec-head">What is CodeStacks?</h4>
                  </a>
                  <p>
                      CodeStacks is a IT startup that provide technical solutions based on the request of the client.
                     We Offer best IT Service such as Web Development, App Development, Wordpress, Logo Design.
                     We at CodeStacks bring out the best for the clients by use of best technologies.
                 </p>
                  <ul>
                    <li>
                      <i class="fa fa-check"></i> We believe in coding
                    </li>
                    <li>
                      <i class="fa fa-check"></i> Technical Assistance
                    </li>
                    <li>
                      <i class="fa fa-check"></i> Regular Maintenance
                    </li>
                    <li>
                      <i class="fa fa-check"></i> Trust And Quality
                    </li>
                   
                  </ul>
                </div>
              </div>
            </div>
            <!-- End col-->
          </div>
        </div>
      </div>
      <!-- End About area -->