  <!-- Start Service area -->
  <div id="services" class="services-area area-padding">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="section-headline services-head text-center">
                <h2>Our Services</h2>
              </div>
            </div>
          </div>
          <div class="row text-center">
            <div class="services-contents">
              <!-- Start Left services -->
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="about-move">
                  <div class="services-details">
                    <div class="single-services">
                      <a class="services-icon" href="#">
                                                <i class="fa fa-code"></i>
                                            </a>
                      <h4>Web Development</h4>
                      <p>
                        We provide High Quality websites that matches your profile
                         </p>
                    </div>
                  </div>
                  <!-- end about-details -->
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="about-move">
                  <div class="services-details">
                    <div class="single-services">
                      <a class="services-icon" href="#">
                                                <i class="fa fa-cube"></i>
                                            </a>
                      <h4>App Development</h4>
                      <p>
                      Get stunning application for your enterprise  
                      </p>
                    </div>
                  </div>
                  <!-- end about-details -->
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- end col-md-4 -->
                <div class=" about-move">
                  <div class="services-details">
                    <div class="single-services">
                      <a class="services-icon" href="#">
                                                <i class="fa fa-wordpress"></i>
                                            </a>
                      <h4>Wordpress Development</h4>
                      <p>
                      We help you have your own wordpress site <br><br>
                      </p>
                    </div>
                  </div>
                  <!-- end about-details -->
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- end col-md-4 -->
                <div class=" about-move">
                  <div class="services-details">
                    <div class="single-services">
                      <a class="services-icon" href="#">
                                                <i class="fa fa-camera-retro"></i>
                                            </a>
                      <h4>Logo Design </h4>
                      <p>
                      We provide beautiful logo desings to charm your company  
                      </p>
                    </div>
                  </div>
                  <!-- end about-details -->
                </div>
              </div>
              <!-- End Left services -->
              <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- end col-md-4 -->
                <div class=" about-move">
                  <div class="services-details">
                    <div class="single-services">
                      <a class="services-icon" href="#">
                                                <i class="fa fa-bar-chart"></i>
                                            </a>
                      <h4>Seo Expert</h4>
                      <p>
                      Get excellet SEO Service to boost your reach towards customers  
                      </p>
                    </div>
                  </div>
                  <!-- end about-details -->
                </div>
              </div>
              <!-- End Left services -->
              <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- end col-md-4 -->
                <div class=" about-move">
                  <div class="services-details">
                    <div class="single-services">
                      <a class="services-icon" href="#">
                                                <i class="fa fa-ticket"></i>
                                            </a>
                      <h4>24/7 Support</h4>
                      <p>
                      Get uninterrupted services , we are happy to help you ! 
                      </p>
                    </div>
                  </div>
                  <!-- end about-details -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Service area -->