<!-- Start Testimonials -->
<div class="testimonials-area">
  <div class="testi-inner area-padding">
    <div class="testi-overly"></div>
    <div class="container ">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <!-- Start testimonials Start -->
          <div class="testimonial-content text-center">
            <a class="quate" href="#"><i class="fa fa-quote-right"></i></a>
            <!-- start testimonial carousel -->
            <div class="testimonial-carousel">
              <div class="single-testi">
                <div class="testi-text">
                  <p>
                    CodeStacks is an outstanding company, they delivered high impact website for us.
                    Plus we are satisfied with their service. 
                  </p>
                  <h6>DELEN</h6>
                </div>
              </div>
              <!-- End single item -->
              <div class="single-testi">
                <div class="testi-text">
                  <p>
                  We are really Impressed with the kind of dedication they put into the work, also there is no doubt in the quality of their work  
                  </p>
                  <h6>Domestique</h6>
                </div>
              </div>
              <!-- End single item -->
            
              <!-- End single item -->
            </div>
          </div>
          <!-- End testimonials end -->
        </div>
        <!-- End Right Feature -->
      </div>
    </div>
  </div>
</div>
<!-- End Testimonials -->